/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: 'Hiragino ProN', 'Yu Gothic', sans-serif;
  color: #1a1a1a;
  background-color: #fff;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  padding: 0 90px;
}

h2 {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  margin: 20px 0;
}



button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}

.accordion-body.is-open {
  max-height: 100px;
}

.accordion::after {
  display: inline-block;
  content: "+";
  font-size: 2.5rem;
  margin-left: 10px;
  vertical-align: middle;
  transition: transform 0.8s ease;
}

.accordion.is-active::after {
  transform: rotate(405deg);
}